@import "elements.less";

@nice-blue: #5B83AD;
@light-blue: (@nice-blue + #111);

body {
	padding-top: 60px;
    padding-bottom: 40px;
	background-color: @nice-blue;
	padding-top: 60px;
    padding-bottom: 40px;
    background-size: 100% 100%;
    background-attachment: fixed;
	//.gradient(#EEE, #FFF);
}
