body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgb(50,100,200);
    background-size: 100% 100%;
    background-attachment: fixed;
}

p {
	color: rgb(255,255,255);
}

h1, h2, h3 {
	color: rgb(0,200,255);
}

a, button {
	cursor: pointer;
}

.tab-pane {
	background-color: rgba(255,255,255,0.01);
}


/*.hero-unit {
	background-color: rgb(200,200,255);
}*/