<table class="table table-hover table-condensed" id="tabla">
	<tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Año</th>
		<th>Valoración</th>
	</tr>
	<tr class="warning">
		<td>1</td>
		<td>Película</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Película 2</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Serie</td>
	</tr>
</table>