@font-face {
    font-family: Raleway;
    src: url('../ttf/Raleway.ttf');
}
html {
    /*cursor: none;*/
    overflow: hidden;
}
body { 
    /*padding-top: 60px;*/ 
    padding-bottom: 40px; 
    background-color:rgba(255,255,255,1);
    font-family: 'Raleway', sans-serif;
    font-height: 72px;
    /*background-image: url("background2.png");*/
    /*color:rgb(255,255,255);*/
}

.button {
	font-height: 72px;
}
